pool:
  vmImage: 'macOS-latest'

strategy:
  matrix:
    Python310:
      python.version: '3.10'
      TOXENV: py310
    Python311:
      python.version: '3.11'
      TOXENV: py311
    Python312:
      python.version: '3.12'
      TOXENV: py312
    Python313:
      python.version: '3.13'
      TOXENV: py313
    Python314:
      python.version: '3.14'
      TOXENV: py314

steps:
- task: UsePythonVersion@0
  displayName: 'Use Python $(python.version)'
  inputs:
    versionSpec: '$(python.version)'

- script: pip install -U wheel tox coveralls coverage[toml] setuptools setuptools_scm[toml]
  displayName: 'Install Tox'

- script: |
    tox
  env:
    PYTEST_ADDOPTS: "--cov-config=pyproject.toml --cov --cov-append --benchmark-skip"
  displayName: 'Run Tox'
