include *.rst
include *.txt
include *.yml
include AUTHORS
include LICENSE
recursive-include tests *.py
recursive-include tests *.sh
recursive-include tests *.txt
recursive-include tests/data *.7z
include .coveragerc
include tox.ini
include docs/requirements.txt
recursive-include docs *.bat
recursive-include docs *.dia
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.yml
recursive-include docs Makefile
recursive-include reference *.txt
