name: Run linter

on:
  pull_request:
    branches:
      - master
    types:
      - opened
      - synchronize
      - reopened

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Setup reviewdog
        run: |
          /usr/bin/sh utils/reviewdog_install.sh -b ./bin/ v0.21.0
      - name: Install dependencies
        run: |
          pip install -U pip tox wheel setuptools setuptools_scm[toml]
          pip install .[check]
      - name: run reviewdog
        run: |
          ./bin/reviewdog -runners=flake8,mypy -reporter=github-pr-review -conf=.reviewdog.yml
        env:
          REVIEWDOG_TOKEN: ${{ secrets.REVIEWDOG_TOKEN }}
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs:
    name: Document checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          sudo apt-get update -q -y
          sudo apt-get install -q -y graphviz libcairo2-dev
          pip install -U pip tox wheel setuptools setuptools_scm[toml]
      - name: docs build and link check
        run: |
          tox -e docs
